*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D4CBE5;
}

h2{
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.container{
    background-color: white;
    min-height: 45vh;
    min-width: 40vh;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.4);
    /* margin-bottom: 12rem; */
}


form {
    margin: 2rem 0 1rem 0;
}

form  select, button, input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding: 0 0 0 0.5rem;
}

.dropDown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.dropDown i {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.select-container img{
    max-width: 2rem;
}

.select-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
    width: 6rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    border: 1px solid lightgray;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.msg{
    margin: 2rem 0 2rem 0;
    text-align: center;
}

form button{
    height: 3rem;
    background-color: #af4d98;
    color: white;
    font-size: 1.15rem;
    font-weight: 300;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    transition: all ease-in-out 0.1s;
    cursor: pointer;
}


form button:hover{
    background-color: #982f70;
}

form button:active {
    background-color: #882855;
    scale: 0.95;
} 

p{
    font-size: 1.05rem;
    margin: 0 0 0.2rem 0.3rem;
}